<h1>Importar Parâmetros via CSV</h1>

<%= form_with url: import_csv_parametro_calculos_path, local: true, html: { multipart: true } do |form| %>
  <div>
    <%= form.label :file, "Selecione o arquivo CSV" %><br>
    <%= form.file_field :file %>
  </div>
  <br>
  <div>
    <%= form.submit "Importar" %>
  </div>
<% end %>
