<% if notice %>
  <div data-controller="flash">
    <div class="alert alert-info alert-dismissible fade show m-1" role="alert" data-flash-target="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <%= notice %>
    </div>
  </div>
<% end %>

<% if alert %>
  <div data-controller="flash">
    <div class="alert alert-warning alert-dismissible fade show m-1" role="alert" data-flash-target="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <%= alert %>
    </div>
</div>
<% end %>
