<h1>Editing az ajudante</h1>

<%= render "form", az_ajudante: @az_ajudante %>

<br>

<div>
  <%= link_to "Show this az ajudante", @az_ajudante %> |
  <%= link_to "Back to az ajudantes", az_ajudantes_path %>
</div>
