@import "../custom/breakpoints";

/* SCSS - Media Queries encapsuladas nos seletores corretos */
.card-category-index {
  cursor: pointer;
  transition: transform 0.2s ease;
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  // Media Queries específicas para .card-category-index
  @media (min-width: $md) {
    height: 200px;
    font-size: 28px;
  }
}

.card-category-index:hover {
  transform: scale(1.03);
}

.cards-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;

  // Media Queries específicas para .cards-index
  @media (max-width: $sm-max) {
    grid-template-columns: 1fr;
  }

  @media (min-width: $sm) {
    grid-template-columns: 1fr;
  }

  @media (min-width: $md) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $lg) {
    grid-template-columns: 1fr 1fr;
  }

}
