<h1>Importar Ajudantes</h1>

<%= form_with url: import_csv_ajudantes_path, local: true, multipart: true do %>
  <div>
    <label>Arquivo CSV:</label>
    <%= file_field_tag :file %>
  </div>
  <%= submit_tag "Importar" %>
<% end %>

<%= link_to "Voltar", root_path %>
