<div class="bg-light">
  <div class="container p-3">
    <h2 class="text-center mb-4 fw-bold text-primary">Bem vindo ao Workstation LOG20 Foz do Iguaçu</h2>

    <div class="cards-index">
      <!-- Botão Distribuição Urbana -->
      <div
        class="card-category-index"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://storage.transportemoderno.com.br/uploads/2022/03/Ambev-Caminhoes-eletricos_Joao-Pessoa-1.jpeg);"
        onclick="window.location='<%= consultas_new_path %>'">
        Distribuição Urbana
      </div>

      <!-- Botão Armazém -->
      <div
        class="card-category-index"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://logweb.com.br/wp-content/uploads/2021/05/Grupo-Imediato-e-Ambev.jpeg);"
        onclick="window.location='#'">
        Armazém
      </div>
    </div>
  </div>
</div>
